<div id="container">
  <div class="jumbotron">
    <h1 class="display-4">Eat-Da-Burger!</h1>
    <p class="lead">Let's eat the world's top burgers! *Munch *Munch!</p>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="lefthead"><strong>Undervoured Burgers</strong></div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <span><strong> {{this.id}} - {{this.name}} </strong></span>
            <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
              data-newDevoured="{{devour}}"><span class="fa fa-cutlery"></span></button>
            <hr>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="righthead"><strong>Devoured Burgers</strong></div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            <span><strong> {{this.id}} - {{this.name}} </strong></span>
            <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
              data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
            <hr>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <form class="create-form">
    <div class="form-group">
      <label for="newburger" id="color-override">New Burger:</label>
      <input type="text" id="newburger" name="burger">
      <button type="submit" class="btn btn-success" id="addburger" text= "Add" ></button>
    </div>
  </form>
  </panel>
</div>
