<li>
	{{name}}

	<button class="change-devured" data-id="{{id}}" data-newdevoured="{{sleep}}">
		{{#if devoured}}Time to devour!{{else}}Eat UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
